.FixingPreview {
  flex: 0 0 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;

}
 /* .fixing {
  width: 415px;
  height: 410px;
  margin-right: 2rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  background-color:  #bfc0b8; 
  margin-top: 1rem; 
  
  
  display: flex;
  justify-content: center;
  align-items: center;



   background-color:  #ad4ec5;  
   background-color:  #c6e63b;  

}  */
.ingredients {
  width: 520px;
  height: 322px;
  position: relative;
}
.price {
  background-color:  #30d5c8;
  border-radius: 1rem;
  padding: 0 1rem;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}