.FixingPreview {
  flex: 0 0 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3rem;
  padding: 1rem;
}

.ingredients {
  width: 600px;
  height: 615px;
  position: relative;
  margin: -2rem 1rem 1rem 0;
 
}
.price {
  background-color:  #30d5c8;
  border-radius: 1rem;
  padding: 0 1rem;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}