.Toolbar {
  height: 70px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  padding: 0 1rem;
  z-index: 1;

  font-size: 2rem;
  color: white;
  background-image: linear-gradient(to right, rgb(245, 164, 204), rgb(255, 142, 185));  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

@media (max-width: 549px) {
  .Toolbar nav {
    display: none;
  }
}