/* .CeilingBuilder {
    justify-content: center;
    display: flex;
    margin-top: 1rem;
    flex-wrap: wrap;
} */

.CeilingBuilder {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    flex-wrap: wrap;
  }