.DrawerOpen {
  height: 3rem;
  padding: .5rem;
  margin: .5rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  cursor: pointer;
}
.DrawerOpen > div {
  height: 2px;
  width: 2rem;
  background-color: white;
}
.DrawerOpen:hover {
  background-color: pink;
}
.DrawerOpen > div:not(:last-child) {
  margin-bottom: .5rem;
}
@media (min-width: 550px) {
  .DrawerOpen {
    display: none;
  }
}