
/* 
.Button {
  text-decoration: none;
  display: inline-block;
  margin: 5px 5px;
  padding: 9px 21px;
  position: relative;
  border: 2px solid #b606da;
  color: #b606da;
  font-family: 'Montserrat', sans-serif;
  transition: .4s;

  border-radius: 9px;
}
.Button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 2px solid rgba(0, 0, 0, 0);
  transition: .4s;
}
.Button:hover:after {
  border-color: #b606da;
  width: calc(100% - 10px);
  height: calc(100% + 10px);

  border-radius: 9px;
}   */







.Button {
  text-decoration: none;
  display: inline-block;
  margin: 3px 3px;
  padding: 9px 24px;
  position: relative;
  border: 2px solid #ec47ad;
  color: #9d00bd;
  font-family: 'Montserrat', sans-serif;
  transition: .4s;

  border-radius: 9px;
}
.Button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 2px solid rgba(0, 0, 0, 0);
  transition: .4s;
}
.Button:hover:after {
  border-color: #ff18ec;
  width: calc(100% - 10px);
  height: calc(100% + 10px);

  border-radius: 9px;
}  


.green {
  color: white;
  background-color: rgb(66, 221, 60);
  border-color: rgb(49, 172, 0);
}
.green:not(:disabled):hover {
  background-color: rgb(49, 172, 0);
}

.red {
  color: white;
  background-color: rgb(253, 60, 60);
  border-color: rgb(226, 28, 28);
}
.red:not(:disabled):hover {
  background-color: rgb(226, 28, 28);
} 