.Button {
  border: 0;
  margin: 0 .5rem;
  padding: 0 1rem;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  box-sizing: grayscale(100%);
}
.Button:not(:disabled):hover {
  background-color: rgb(201, 201, 201);
}
.Button:focus {
  outline: none;
}
.Button:disabled {
  opacity: .5;
}

.green {
  background-color: rgb(124, 206, 92);
}
.green:not(:disabled):hover {
  background-color: rgb(46, 150, 5);
}