.NavItem a {
    display: block;
    color: white;
    text-decoration: none;
    padding: .6rem 1rem .4rem;
    border-bottom: 6.6px solid transparent;
    transition: all .2s ease-in;
  }
  .NavItem a:hover {
    border-color: white;
    background-color:  #29b8ac;

  }
  .NavItem a:active,
  .NavItem a.active {
    border-color: white;
  }
  
  @media (max-width: 549px) {
    .NavItem a {
      border-bottom: none;
      border-right: 10px solid transparent;
    }
  }