/* @import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap'); */
* {
  box-sizing: border-box;
  /* font-family: 'Nanum Myeongjo', serif; */
  /* font-family: 'Jacques Francois Shadow', cursive; */
  /* font-family: 'Londrina Shadow', cursive; */
} 

body {
  margin: 0;
  background-size: 200px;
  /* filter: brightness(30%); */
  /* opacity: 0.5; */
  background-image: url(./images/fon18.gif); 
  background-color:  hsl(0, 6%, 94%); 
}

.Jewelry {
  margin: 1rem;
  text-align: center;
  color:  #30d5c8;
  font-size: 60px;
  color: rgb(122, 1, 116);
  text-shadow: 2px 2px 5px rgb(240, 0, 240);
} 
