.Nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 25px;
  padding-top: 12.3px;
}

@media (max-width: 549px) {
  .Nav {
    flex-direction: column;
    margin-top: 1rem;
  }
}