.FixingControl {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .7rem 0;
  
}
.FixingControl .ingredient div {
  position: static;
  margin: 0.5rem;
}

.ingredient{
  font-size: 1.3rem;
  margin: .5rem;
}

.Example{
  display: flex;
  justify-content: space-between;
  width: 100%;
} 