
.FixingControl {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .5rem 0;
  
}
.FixingControl .ingredient div {
  position: static;
  margin: 0.5rem;
}

.ingredient{
  font-size: 1.5rem;
  margin: .5rem;
}

.Example{
  display: flex;
  justify-content: space-between;
  width: 100%;
} 
.order {
  height: 40px;
  width: 60px;
  color: gray;
}